NODE_ENV=development
PORT=5050
MONGO_URI=mongodb+srv://dhanushachuzz1234_db_user:9iNZQNcCRS6Mqzky@cluster0.0udcnv4.mongodb.net/?appName=Cluster0

CLIENT_URL=http://localhost:5173

JWT_ACCESS_SECRET= my_super_key
JWT_ACCESS_EXPIRES_IN = 15m


JWT_REFRESH_SECRET=my_next_super_key
JWT_REFRESH_EXPIRES_IN=3d






